/.ddev/config.yaml
/.idea/
/.settings/
/nbproject/

/vendor/

composer.phar

# Local configuration files (contain sensitive data)
config/autoload/local.php
config/init.php

Desktop.ini
Thumbs.db

.DS_Store
