<?php
/**
 * Local application configuration
 *
 * Copy this file to local.php and insert your database credentials
 * and provide the email address the system should use.
 */

return [
    'db' => [
        'database' => $_ENV['DB_NAME'] ?? 'YOUR_DATABASE_NAME',
        'username' => $_ENV['DB_USER'] ?? 'YOUR_DATABASE_USERNAME', 
        'password' => $_ENV['DB_PASSWORD'] ?? 'YOUR_DATABASE_PASSWORD',

        'hostname' => $_ENV['DB_HOST'] ?? '/cloudsql/PROJECT_ID:REGION:INSTANCE_ID',  // For Cloud SQL
        'port' => null,
    ],
    'mail' => [
        'type' => $_ENV['MAIL_TYPE'] ?? 'sendmail', // 'smtp', 'smtp-tls', 'sendmail', or 'file'
        'address' => $_ENV['MAIL_ADDRESS'] ?? 'info@your-domain.com',
            // Make sure domain matches the hosting domain when using type 'sendmail'

        'host' => $_ENV['MAIL_HOST'] ?? 'localhost', // for 'smtp' type only
        'user' => $_ENV['MAIL_USER'] ?? '', // for 'smtp' type only
        'pw' => $_ENV['MAIL_PASSWORD'] ?? '', // for 'smtp' type only
        'port' => $_ENV['MAIL_PORT'] ?? 'auto', // for 'smtp' type only
        'auth' => $_ENV['MAIL_AUTH'] ?? 'plain', // for 'smtp' type only
    ],
    'i18n' => [
        'choice' => [
            'en-US' => 'English',
            'de-DE' => 'Deutsch',
        ],
        'currency' => 'EUR',
        'locale' => 'de-DE',
    ],
];
